* {
  margin: 0px;
  padding: 0px;
}
:root {
  --btn_color: rgba(243, 202, 54, 0.911);
  --btn_background: rgba(249, 251, 139, 0.746);
  --font_style: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --span_color: rgba(255, 128, 0, 0.968);
}

.background_img {
  background-image: url(/background_2.jpg);
  background-size: cover;
  height: 100vh;
}

.navbar {
  text-align: center;
  padding-top: 30px;
}
.navbar h4 {
  font-family: var(--font_style);
  font-size: 63px;
  color: beige;
  transition: 0.5s;
}
.navbar h4:hover {
  color: var(--span_color);
}
.navbar h4 span {
  font-size: 88px;
  color: var(--span_color);
}
.navbar h4 span:hover {
  color: wheat;
}
.button {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  margin-top: 35px;
}

a:link {
  text-decoration: none;
  background-color: none;
}
.btn_1 {
  font-size: 24px;
  margin-right: 60px;
  background-color: var(--btn_color);
  cursor: pointer;
  border: 2px solid var(--span_color);
  border-radius: 20px 20px;
  font-family: var(--font_style);
  text-decoration: none;
  transition: 0.5s;
}
.btn_1:hover {
  background-color: var(--span_color);
  border: 2px solid var(--btn_background);
}
.btn_2 {
  font-size: 24px;
  margin-right: 60px;
  background-color: var(--btn_color);
  cursor: pointer;
  border: 2px solid var(--span_color);
  border-radius: 20px 20px;
  font-family: var(--font_style);
  text-decoration: none;
  transition: 0.5s;
}
.btn_2:hover {
  background-color: var(--span_color);
  border: 2px solid var(--btn_background);
}
.btn_3 {
  font-size: 24px;
  background-color: var(--btn_color);
  cursor: pointer;
  border: 2px solid var(--span_color);
  border-radius: 20px 20px;
  font-family: var(--font_style);
  text-decoration: none;
  transition: 0.5s;
}
.btn_3:hover {
  background-color: var(--span_color);
  border: 2px solid var(--btn_background);
}

.slogan p {
  text-align: center;
  margin-top: 340px;
  font-size: 40px;
  font-family: var(--font_style);
  color: wheat;
  transition: 0.5s;
}
.slogan p:hover {
  color: var(--span_color);
}
.slogan span {
  color: var(--span_color);
  font-style: italic;
  transition: 0.4s;
}

.form {
  display: flex;
  justify-content: center;
  position: initial;
}
.form input[type="text"] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: 2px solid var(--span_color);
  font-size: 17px;
}

.search_bar {
  margin-left: 800px;
  position: relative;
  height: 15px;
  border-radius: 20px 20px;
  background-color: rgba(255, 128, 0, 0);
  transition: 0.5s;
}
.search_bar:hover {
  background-color: var(--span_color);
  border: 2px solid var(--span_color);
  cursor: text;
}
.login {
  display: flex;
  font-size: 18px;
  color: rgb(245, 239, 239);
  border-radius: 20px 20px;
  cursor: pointer;
  font-family: var(--font_style);
  background-color: var(--span_color);
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  justify-content: center;
  height: 25px;
  transition: 0.5s;
}
.login:hover {
  background-color: wheat;
  color: var(--span_color);
  border: 2px solid wheat;
}

.SignUp {
  display: flex;
  font-size: 18px;
  border-radius: 20px 20px;
  cursor: pointer;
  color: var(--span_color);
  font-family: var(--font_style);
  background-color: wheat;
  border: 2px solid var(--span_color);
  margin-top: 10px;
  height: 25px;
  transition: 0.5s;
}
.SignUp:hover {
  background-color: var(--span_color);
  color: wheat;
  border: 2px solid wheat;
}
